html, body {
  font-family: sans-serif;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}
html {
  overflow-x: hidden;
  overflow-y: scroll;
}

header {
  padding-top: 10px;
}

header h2 {
  font-family: serif;
  font-size: 2.5em;
  margin: 0px;
  text-align: center;
}

header nav {
  border-top: 1px solid #000000;
  margin: 10px auto;
  width: 960px;
  margin-bottom: 20px;
}
header nav ul {
  padding: 0px;
  list-style: none;
  height: 20px;
}
header nav ul li {
  float: left;
}
header nav ul li a {
  padding: 5px 7px;
  font-family: serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #333333;
}
header nav ul li a:hover {
  text-decoration: underline;
  color: #000000;
}

div.title {
  width: 100%;
  height: 300px;
  background-size: 100%;
  background-position: center;
}
div.title h1 {
  font-family: serif;
  font-size: 3em;
  text-transform: uppercase;
  margin: 0px;
  text-align: center;
  line-height: 300px;
  color: #ffffff;
  text-shadow: 2px 2px 3px rgba(0,0,0,1);
}
div.title.about {
  background-image: url("../img/about.jpg");
}
div.title.index {
  background-image: url("../img/index.jpg");
}
div.title.contact {
  background-image: url("../img/contact.jpg");
}
div.title.solid {
  background-color: #003399;
  height: 200px;
}
div.title.solid h1 {
  line-height: 200px;
}
div.title.solid.red {
  background-color: #991100;
}

div.content article {
  width: 960px;
  margin: 50px auto;
}
div.content article h1 span {
  font-size: 0.5em;
  color: #666666;
  text-transform: uppercase;
  display: block;
}
div.content article h3 {
  margin-top: 50px;
}

div.content article div {
  line-height: 24px;
}

div.content form {
  width: 710px;
  margin: 10px auto;
}
div.content form div {
  margin-bottom: 10px;
}
div.content form div label {
  display: block;
  font-size: 0.8em;
  color: #666666;
  font-weight: bold;
  margin-bottom: 3px;
}
div.content form div input,
div.content form div textarea {
  padding: 5px;
  width: 700px;
}
div.content form div textarea {
  width: 702px;
  min-height: 200px;
}

div.content div.block-container {
  overflow: auto;
  clear: both;
  line-height: 200px;
}
div.content a.block {
  display: block;
  float: left;
  height: 90px;
  line-height: 20px;
  width: 140px;
  border-radius: 3px;
  margin: 10px;
  text-align: center;
  padding: 10px;
  padding-top: 27px;
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.4);
  transition: box-shadow 0.2s; /*, margin 0.2s; */
}
div.content a.block:hover {
  margin-top: 8px;
  margin-bottom: 12px;
  box-shadow: 6px 6px 6px 0px rgba(0,0,0,0.4);
}
div.content a.block:nth-child(3n+1) {
  background-color: #ffddaa;
}
div.content a.block:nth-child(3n+2) {
  background-color: #ffffdd;
}
div.content a.block:nth-child(3n+3) {
  background-color: #ddddff;
}

footer {
  border-top: 1px solid #000000;
}
footer nav {
  height: 10px;
  width: 960px;
  margin: 30px auto;
  margin-bottom: 50px;
}
footer nav ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
footer nav ul li {
  float: left;
  margin-right: 50px;
}
footer nav ul li a {
  font-family: serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #333333;
}
footer nav ul li a:hover {
  text-decoration: underline;
  color: #000000;
}
footer nav ul li a.small {
  font-size: 0.5em;
}
footer nav ul li a.small:hover {
  text-decoration: none;
}
footer p {
  font-size: 0.8em;
  margin: 10px;
}